# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Build output
*.class
*.log
*.jar
*.war

# IDE
.idea/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project

# OS
.DS_Store

# Grails
/target/
/target-eclipse/
